// Place all the styles related to the IPAddresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ip_addresses {
	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		veritical-align: top;
	}

	.list_name {
		width: 30%;
		dl {
			margin: 0;
		}
		dt {
			color: #244;
			font-weight: bold;
			font-size: larget
		}
		dd {
			margin: 0;
		}
	}

	.list_purpose{
		width:50%;
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}

	.list_line_even{
		background: #ffffff;
	}

	.list_line_odd{
		background: #eff9fc;
	}
}